*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    margin: 0 10%;
}

main{
    background-color: hsl(244, 38%, 16%);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:  
    'textWrapper imageWrapper';
}

.wrapper{
    background-color: hsl(244, 38%, 16%);
    border-radius: 8px;
    flex: 1 1 auto;
}

.textWrapper{
    grid-area: textWrapper;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}


.infoArea{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.imageWrapper{
   grid-area: imageWrapper;
   background-color: hsl(277, 64%, 61%);
   border-radius: 0 8px 8px 0;
}

.desktop-image{
    display: block;
    mix-blend-mode:multiply;
    height: 100%;
    width: 100%;
    border-radius: 0 8px 8px 0;
    object-fit: fill;
}
.mobile-image{
    display: none;
}

h1{
    color: hsl(0, 0%, 100%);
}

span{
   color: hsl(277, 64%, 61%)
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
}


@media screen and (max-width: 600px) {
    body{
        align-content: center;
        width: 90%;
        height: 80vh;
        margin: 10% 5%;
    }
    main{
        grid-template-rows: 30% 70%;
        grid-template-columns: 1fr;
        grid-template-areas:  
        'imageWrapper' 
        'textWrapper';
    }
    .textWrapper{
        grid-area: textWrapper;
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
    }
    
    .infoArea{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .infoArea div h1, .infoArea div p{
        text-align: center;
    }
    .infoArea div h1{
        padding-bottom: 5px;
    }
    .infoArea div p{
        padding-bottom: 20px;
    }

    .imageWrapper{
        border-radius: 8px 8px 0 0;
     }
    .desktop-image{
        display: none;
    }
    .mobile-image{
        display: block;
        mix-blend-mode:multiply;
        height: 100%;
        width: 100%;
        border-radius: 8px 8px 0 0;
        object-fit: stretch;
    }
}

@media screen and (max-height: 800px) {
    body{
        height: 60%;
        margin: 10px 5% 0;
    }
    .textWrapper{
        padding: 10px;
    }
    .infoArea div h1{
        padding-bottom: 2.5px;
    }
    .infoArea div p{
        padding-bottom: 10px;
    }
}